<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Crear productos'}) %>
    <body>
        <%- include('../partials/button') %>
        <%- include('../partials/header') %>
        <%- include('../partials/toggle') %>
        <main>
        <div class="modify">
            <h1>Agregar un producto</h1>
        <div class="modify-2">
            <form action="/products" method="POST" enctype="multipart/form-data">
                <div><input type="text" placeholder="Nombre" name="name" >
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger" style="color: red; font-size: 18px; margin-top: -25px; margin-bottom: 15px;"><%= errors.name.msg %></div>
                        <% } %>
                </div>
                <div class="size-product">
                    <label for="size" class="form-label">Tamaño:</label>
                        <select name="idSize" id="size" class="form-input">
                            <option value="" disabled selected>Elegí</option>
                            <% allSizes.forEach(size => { %>
                            <option value="<%= size.idSize %>"><%= size.Nombre %></option>
                            <% }); %>
                        </select>
                </div>
                <div class="size-product">
                    <label for="category" class="form-label">Categoria:</label>
                        <select name="idCategory" id="category" class="form-input">
                            <option value="">Elegí</option>idColor
                            <% allCategories.forEach(category => { %>
                                <option value="<%= category.idCategory %>"><%= category.Nombre %></option>
                                <% }); %>
                        </select>
                </div>
                <div class="size-product">
                    <label for="color" class="form-label">Color:</label>
                        <select name="idColor" id="color" class="form-input">
                            <option value="">Elegí</option>
                            <% allColors.forEach(color => { %>
                                <option value="<%= color.idColor %>"><%= color.Nombre %></option>
                                <% }); %>
                        </select>
                </div>
                <div><input type="text" placeholder="ABV" name="abv"></div>
                <div><input type="text" placeholder="IBU" name="ibu" ></input></div>
                <div><textarea type="textarea" rows="10" cols="50" placeholder="Inserte una descripción del producto" name="description"></textarea></div>
                <div><input type="text" placeholder="Precio x unidad" name="price" ></input></div>
                <div><input type="text" placeholder="Descuento" name="discount" ></input></div>
                <div><input type="text" placeholder="Unidades" name="quantity"></input></div>
                <div><input type="text" placeholder="Tags" name="tags" class="form-input"></input></div>
                <div><input type="file" name="image" accept=".jpg, .webp"></div>
                <div class="button-modify"><a href="#"><input type="submit" value="Crear producto"></input></a></div>
            </form>
        </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <!-- MARCOS BARRA SCROLL 220522 -->
    <%- include('../partials/scrollbar') %>
</body>
</html>
