<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Listado de productos'}) %>
<body>
    <%- include('../partials/button') %>
    <%- include('../partials/header') %>
    <%- include('../partials/toggle') %>
    <div class="nuevo-banner"></div>
    <main>
        
            <p class="titulo-productos">Products</p>
        </div>
        <section class="section">
            <div class="aside"></div>
            <div class="articles">
                <% products.forEach(beer => { %>
                <article class="article">
                    <div class="product-img">
                        <a href="/products/detail/<%=beer.idCerveza%>"><img src="/img/products/<%=beer.image%>" alt="foto birra" ></a>
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$ <%= beer.price %></p>
                        <p class="class"><%= beer.Nombre %>  <%= beer.size.Nombre %></p>
                        <p class="info"><%= beer.category.Nombre %> / <%= beer.color.Nombre %> / <%= beer.abv %>%</p>
                    </div>
                </article>
                <%   }) %>
            </div>
        </section>
        <div data-equalizer="cta-content" data-equalizer-mq="medium-up" class="animacion" style="display: flex; justify-content: space-evenly">
            <div alt="Variedad" class="cta-block info-block">
                <div class="feature-image flex justify-center">
                    <img src="//cdn.shopify.com/s/files/1/1103/5152/files/info_box_one_130x.gif?v=1619211535" style="max-width: 100px; max-height: 78px;">
                </div>
                <div class="cta-content ">
                    <h3 class="titulo-info">Variedad</h3>
                    <div class="flex-wrapper" data-equalizer-watch="cta-content">
                        <p class="texo-info">Más de 150 bebidas y accesorios por descubrir.</p>
                    </div>
                </div>
            </div>
            <div alt="Rápido y Fácil" class="cta-block info-block">
                <div class="feature-image flex justify-center">
                    <img src="//cdn.shopify.com/s/files/1/1103/5152/files/info_box_two_130x.gif?v=1619211614" style="max-width: 100px; max-height: 78px;">
                </div>
                <div class="cta-content ">
                    <h3 class="titulo-info">Rápido y Fácil</h3>
                    <div class="flex-wrapper" data-equalizer-watch="cta-content">
                        <p class="texo-info">Un servicio que sorprende de principio a fin.</p>
                    </div>
                </div>
            </div>
            <div alt="A todo el país" class="cta-block info-block">
                <div class="feature-image flex justify-center">
                    <img src="//cdn.shopify.com/s/files/1/1103/5152/files/info_transparent_130x.gif?v=1619631085" style="max-width: 100px; max-height: 78px;" class="b-lazy b-loaded">
                </div>
                <div class="cta-content ">
                    <h3 class="titulo-info">A todo el país</h3>
                    <div class="flex-wrapper" data-equalizer-watch="cta-content">
                        <p class="texo-info">Te lo llevamos a tu casa con el máximo cuidado.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <!-- MARCOS BARRA SCROLL 220522 -->
    <%- include('../partials/scrollbar') %>
</body>
</html>