<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Carrito de compras'}) %>
</head>
<body>
    <%- include('../partials/button') %>
    <%- include('../partials/header') %>
    <div class="nuevo-banner"></div>
<main>
    <div class="container1">
        <div class="cart1">
            <div class="products">
                <div class="product">
                    <img src="../img/blest-ipa.webp">
                    <div class="product-info">
                        <h3 class="product-name">Blest Ipa</h3>
                        <h4 class="product-price">$0.00</h4>
                        <h4 class="product-offer">50% OFF</h4>
                        <p class="product-quantity">Cnt: <input value="1" name="">
                        <p class="product-remove">
                            <ion-icon name="trash-outline"></ion-icon>
                            <span class="remove">Eliminar</span>
                        </p>
                    </div>
                </div>
                <div class="product">
                    <img src="../img/ocaso-ipa.webp">
                    <div class="product-info">
                        <h3 class="product-name">Ocaso Ipa</h3>
                        <h4 class="product-price">$0.00</h4>
                        <h4 class="product-offer">40% OFF</h4>
                        <p class="product-quantity">Cnt: <input value="1" name="">
                        <p class="product-remove">
                            <ion-icon name="trash-outline"></ion-icon>
                            <span class="remove">Eliminar</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="cart-total">
                <p>
                    <span>Precio Total</span>
                    <span>$0.00</span>
                </p>
                <p>
                    <span>Numero de Productos</span>
                    <span>2</span>
                </p>
                <p>
                    <span>Total</span>
                    <span>$0.00</span>
                </p>
                <a href="#">Avanzar</a>
            </div>
        </div>
    </div>
    </main>
    <%- include('../partials/footer') %>
    <!-- MARCOS BARRA SCROLL 220522 -->
    <%- include('../partials/scrollbar') %>
</body>
</html>
