<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Detalle de producto'}) %>
  <body>
    <!-- boton -->
    <%- include('../partials/button') %>
    <%- include('../partials/header') %>
    <%- include('../partials/toggle') %>
    <div class="nuevo-banner"></div>    
    <main class="main">
      
     
      <div class="barra-navegacion">
        <ol class="flex flex-wrap gap-xxs">
        <li class="barra-van">
        <a href="/" title="Home" class="nav-home">INICIO ></a>
        </li>
        <li class="barra-van">
          <span title="category" class="nav-home"><%= birra.category.Nombre %> ></span>
          </li>
        <li class="item-home">
          <span class="item-detail"><%= birra.Nombre %></span>
          </li>
        </ol>
      </div>
      <section><div class="cuerpo-descripcion">
        <div class="imagen-producto"><img src="/img/products/<%= birra.image %>" /></div>
        <div class="caja-descripcion">
          <div class="texto-descripcion">
            <div class="titulo-del-producto"><%= birra.Nombre %> <%= birra.size.Nombre %></div>
            <br />
            <div class="precio-anterior"><%= birra.price %></div>
            <br />

            <div class="precio-actual">
              
              $<%= birra.price - (birra.price*(birra.discount/100)) %>
              
              <div class="descuento"><%= birra.discount %>%</div>
            </div>
            <!-- <div>
              <a href="/products/cart"
                ><button type="button" class="agregar-al-carrito">
                  Agregar al carrito
                </button></a
              >
            </div> -->
            <div class="buy-now">
            <a href="#" class="buy-now-button">COMPRAR AHORA</a>
          </div>
            <div class="disponibles">
              Disponibles: <%= birra.quantity %> unidades
            </div>
            <div class="descripcion-del-producto">
              <h2>Información del producto</h2>
              <p>
                <%= birra.descrip %>
                <br />
                Color: <%= birra.color.Nombre %>
                <br />
                IBU: <%= birra.ibu %>
                <br />
                ALV: <%= birra.abv %>%
              </p>
            </div>
          </div>
        </div>
        <% if (locals.isAdmin) { %>
        <div class="botones-changes">
          <a href="/products/edit/<%=birra.idCerveza%>" class="action-button edit">EDITAR</a>
          <form action="/products/delete/<%=birra.idCerveza%>?_method=DELETE" method="POST">
                  <button type="submit" class="action-button delete">ELIMINAR</button>
                </form>
          </div>
          <% } %>
      </div>
    </main>
    <%- include('../partials/footer') %>
    </section>
    <!-- MARCOS BARRA SCROLL 220522 -->
    <%- include('../partials/scrollbar') %>
  </body>
</html>
