<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Editando productos'}) %>
    <body>
        <%- include('../partials/header') %>
        <%- include('../partials/button') %>
        <main>
        <div class="modify">
            <h1>Modificando: <%=birra.name%> <%=birra.size%></h1>
        <div class="modify-2"> 
            <form action="/products/edit/<%=birra.id%>?_method=PATCH" method="POST" enctype="multipart/form-data">
                <input type="text" placeholder="<%=birra.name%>" name="name" class="form-input">
        <div class="size-product">
            <label for="size" class="form-label">Tamaño:</label>
                <select name="size" id="size" class="form-input">
                    <option value="">Elegí</option>
                    <option value="Lata 330ml">Lata 330ml</option>
                    <option value="Botella 355ml">Botella 355ml</option>
                    <option value="Lata 473ml">Lata 473ml</option>
                    <option value="Botella 500ml">Botella 500ml</option>
                </select>
        </div>
        <div class="size-product">
            <label for="category" class="form-label">Categoria:</label>
                <select name="category" id="category" class="form-input">
                    <option value="">Elegí</option>
                    <option value="IPA">IPA</option>
                    <option value="APA">APA</option>
                    <option value="AMBER">AMBER</option>
                    <option value="HONEY">HONEY</option>
                </select>
        </div>
        <div class="size-product">
            <label for="color" class="form-label">Color:</label>
                <select name="color" id="color" class="form-input">
                    <option value="">Elegí</option>
                    <option value="Dorada">Dorada</option>
                    <option value="Roja">Roja</option>
                    <option value="Oscura">Oscura</option>
                </select>
        </div>
        <div><label><input type="text" placeholder="<%=birra.abv%>" name="abv" class="form-input"></label></div>
        <div><input type="text" placeholder="<%=birra.ibu%>" name="ibu" class="form-input"></input></div>
        <textarea type="textarea" rows="10" cols="50" name="description" class="form-input"><%=birra.description%></textarea>
        <div><input type="text" placeholder="<%=birra.price%>" name="price" class="form-input"></input></div>
        <div><input type="text" placeholder="<%=birra.discount%>" name="discount" class="form-input"></input></div>
        <div><input type="text" placeholder="<%=birra.quantity%>" name="quantity" class="form-input"></input></div>
        <div><input type="file" name="image" class="form-input" accept=".jpg, .webp"></div>
        <div class="button-modify"><a href="#"><input type="submit" value="Modificar producto"></input></a></div>
            </form>
        </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <!-- MARCOS BARRA SCROLL 220522 -->
    <%- include('../partials/scrollbar') %>
</body>
</html>
