<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Error'}) %>
<body>
    <%- include('./partials/header') %>
    <%- include('./partials/toggle') %>
    <div class="nuevo-banner"></div>
    <main>
    <p class="error404"> ERROR 404</p>
    </main>
    <%- include('./partials/footer') %>
    <!-- MARCOS BARRA SCROLL 220522 -->
    <%- include('../partials/scrollbar') %>
</body>
</html>