<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Inicio'}) %>
<body>
    <%- include('./partials/header') %>
    <%- include('./partials/button') %>
        <div class="nuevo-banner"></div>
    <main>
        <div class="barra-navegacion">
            <ol class="lista-producto">
                <li class="barra-van">
                    <a class="item-class">Cervezas ></a>
                </li>
                <li class="item-home">
                    <a class="item-detail"> IPA</a>
                </li>
            </ol>
        </div>
        <section class="section">
            <div class="aside"></div>
            <div class="articles">
                <% ipa.forEach(beer => { %>
                <article class="article">
                    <div class="product-img">
                        <a href="/products/detail/<%=beer.id%>"><img src="/img/<%=beer.image%>" alt="foto birra" ></a>
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$ <%= beer.price %></p>
                        <p class="class"><%= beer.name %>  <%= beer.size %></p>   
                        <p class="info"><%= beer.category %> / <%= beer.color %> / <%= beer.abv %>%</p>
                    </div>
                </article>
                <%   }) %>
            </div>
        </section>
        <div class="barra-navegacion">
            <ol class="lista-producto">
                <li class="barra-van">
                    <a class="item-class">Cervezas ></a>
                </li>
                <li class="item-home">
                    <a class="item-detail"> AMBER</a>
                </li>
            </ol>
        </div>
        <section class="section">
            <div class="aside"></div>
            <div class="articles">
                <% amber.forEach(beer => { %>
                <article class="article">
                    <div class="product-img">
                        <a href="/products/detail/<%=beer.id%>"><img src="/img/<%=beer.image%>" alt="foto birra" ></a>
                    </div>
                    <div class="description">
                        <p class="discount"></p>
                        <p class="price">$ <%= beer.price %></p>
                        <p class="class"><%= beer.name %>  <%= beer.size %></p>   
                        <p class="info"><%= beer.category %> / <%= beer.color %>  / <%= beer.abv %>% ALC</p>
                    </div>
                </article>
                <%   }) %>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>
    <!-- MARCOS BARRA SCROLL 220522 -->
    <%- include('./partials/scrollbar') %>
</body>
</html>