<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Login'}) %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/button') %>
    <main style="margin-top: 0px">
        <div class="conjunto-login">
          <form action="/usuarios" method="post">
              <div class="login">
              <div class="connect">
                  <i class="fa-brands fa-facebook-square"></i><span>Inicia sesion con Facebook</span>
          </div>
          <div class="division">
          </div>
          <div class="user-email">
              <input type="email" placeholder="E-mail" name="email" min="user@email.com" required></input>
         </div>
          <div>
             <input type="password" placeholder="Contraseña" name="password" required>
         </div>
          <div>
          <p class="recover-password">¿Olvidaste tu contraseña?</p>
           </div>
          <div class="remember-user">
              <label>
              <input type="checkbox" name="Recordar mi usuario" >
               Recordar mi usuario
              </label>
          </div>
          <div class="button">
          <a href="/index"><input type="submit" value="Login"></input></a> 
          </div>
           <div class="check-in">
             <p>¿Todavia no sos cliente? Registrate <a href="/user/register" class="login-link">acá</p></a>
         </div>
          </div>
         </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <!-- MARCOS BARRA SCROLL 220522 -->
    <%- include('../partials/scrollbar') %>
</body>
</html>