<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Login'}) %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/button') %>
    <%- include('../partials/toggle') %>
    <main style="margin-top: 0px">
        <div class="conjunto-login">
          <form action="/user/login" method="POST">
              <div class="login">
              <div class="connect">
                  <i class="fa-brands fa-facebook-square" style="font-size: 1rem;"></i><span>Inicia sesion con Facebook</span>
          </div>
          <div class="division">
          </div>
          <div class="user-email">
              <input type="email" placeholder="E-mail" name="email" value="<%= locals.oldData ? oldData.email : null %>">
              <% if (locals.errors && errors.email) { %>
                <div class="text-danger" style="color: red; font-size: 18px; margin: -5px 0px;" ><%= errors.email.msg %></div>
                <% } %>
         </div>
          <div>
             <input type="password" placeholder="Contraseña" name="password">
             <% if (locals.errors && errors.password) { %>
                <div class="text-danger" style="color: red; font-size: 18px; margin: -5px 0px;" ><%= errors.password.msg %></div>
                <% } %>
         </div>
          <div>
          <p class="recover-password">¿Olvidaste tu contraseña?</p>
           </div>
          <div class="remember-user">
              <label>
              <input type="checkbox" name="remember_user" >
               Recordar mi usuario
              </label>
          </div>
          <div class="button">
          <a href="/index"><input type="submit" value="Login" style="font-size: 1rem;"></input></a>  
          </div>
           <div class="check-in">
             <p>¿Todavia no sos cliente? Registrate <a href="/user/register" class="login-link">acá</p></a>
         </div>
          </div>
         </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <!-- MARCOS BARRA SCROLL 220522 -->
    <%- include('../partials/scrollbar') %>
</body>
</html>