<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Login'}) %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/button') %>
    <%- include('../partials/toggle') %>
    <main style="margin-top: 0px">
        <div class="conjunto-login">
          <form action="/user/login" method="POST">
            <div class="login-box">
              <h2>Login</h2>
              <div class="col">
                  <a href="#" class="fb btn">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                   </a>
                  <a href="#" class="google btn"><i class="fa fa-google fa-fw"></i> Login with Google+
                  </a>
                </div>
                  <div class="user-box">
                      <input type="text" name="email" required="">
                      <label>Email</label>
                      <% if (locals.errors && errors.email) { %>
                        <div class="text-danger" style="color: red; font-size: 16px; margin-top: -25px; margin-bottom: 15px;" ><%= errors.email.msg %></div>
                        <% } %>
                  </div>
                  <div class="user-box">
                      <input type="password" name="password" required="">
                      <label>Password</label>
                      <% if (locals.errors && errors.password) { %>
                        <div class="text-danger" style="color: red; font-size: 16px; margin-top: -25px; margin-bottom: 15px;" ><%= errors.password.msg %></div>
                        <% } %>
                  </div>
                  <div class="recover-password">
                      <p>¿Olvidaste tu contraseña?</p>
                  </div>
                  <div class="remember-user"> 
                      <input type="checkbox" name="remember_user" >
                      <label>Recordar mi usuario</label>
                  </div>
                  <div class="button">
                    <input type="submit" value="Login">
                  </div>
                    <div class="check-in">
                        <p>¿Todavia no sos cliente? <a href="/user/register" class="login-link">Login</p></a>
                    </div>
              </form>
          </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <!-- MARCOS BARRA SCROLL 220522 -->
    <%- include('../partials/scrollbar') %>
</body>
</html>