<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Register'}) %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/button') %>
    <%- include('../partials/toggle') %>
    <main style="margin-top: 0px">
      <div class="conjunto-login">
        <form action="/user/register" method="POST" enctype="multipart/form-data" id="registerForm">
          <div class="login-box">
            <h2>Register</h2>
            <div class="col">
              <a href="#" class="fb btn">
                <i class="fa fa-facebook fa-fw"></i> Register with Facebook
              </a>
              <a href="#" class="google btn">
                <i class="fa fa-google fa-fw"></i> Register with Google+
              </a> 
            </div>
            <div class="errors">
              <ul class="errores"></ul>
            </div>
            <div class="user-box">
              <input type="text" name="firstName" required="" value="<%= locals.oldData ? oldData.firstName : null %>" id="registerFirstName">
                <label>Nombre</label>
                    <% if (locals.errors && errors.firstName) { %>
                    <div class="text-danger" style="color: red; font-size: 18px; margin-top: -25px; margin-bottom: 15px;"><%= errors.firstName.msg %></div>
                    <% } %>
            </div>
            <div class="user-box">
              <input type="text" name="lastName" required="" value="<%= locals.oldData ? oldData.lastName : null %>" id="registerLastName">
                    <label>Apellido</label>
                    <% if (locals.errors && errors.lastName) { %>
                      <div class="text-danger" style="color: red; font-size: 16px; margin-top: -25px; margin-bottom: 15px;" ><%= errors.lastName.msg %></div>
                      <% } %>
                </div>
                <div class="user-box">
                  <input type="email" name="email" required="" value="<%= locals.oldData ? oldData.email : null %>" id="registerEmail">
                  <label>Email</label>
                  <% if (locals.errors && errors.email) { %>
                    <div class="text-danger" style="color: red; font-size: 16px; margin-top: -25px; margin-bottom: 15px;" ><%= errors.email.msg %></div>
                    <% } %>
              </div>
              <div class="user-box">
                <input type="password" name="password" required="" id="registerPassword">
                <label>Contraseña</label>
                <% if (locals.errors && errors.password) { %>
                  <div class="text-danger" style="color: red; font-size: 16px; margin-top: -25px; margin-bottom: 15px;" ><%= errors.password.msg %></div>
                  <% } %>
            </div>
            <div class="user-box">
              <input type="password" name="confirmPassword" required="" id="registerPassword">
              <label>Confirmar contraseña</label>
              <% if (locals.errors && errors.confirmPassword) { %>
                <div class="text-danger" style="color: red; font-size: 16px; margin-top: -25px; margin-bottom: 15px;" ><%= errors.confirmPassword.msg %></div>
                <% } %>
          </div>
          <div class="user-box">
            <input type="file" name="image" id="registerImage">
            <label>Imagen de perfil</label>
            <% if (locals.errors && errors.image) { %>
              <div class="text-danger" style="color: red; font-size: 16px; margin-top: -25px; margin-bottom: 15px;" ><%= errors.image.msg %></div>
              <% } %>
        </div>
          <div class="checkboxes">
            <div class="underage">
              <label>
                <input type="checkbox" name="legalAge" required>Soy mayor de 18 años
              </label>
            </div class="underage">
            <div>
              <label>
                <input type="checkbox" name="tyc" required>Acepto Términos y Condiciones
              </label>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Register">
          </div>
          <div>
            <p>¿Ya sos cliente?<a href="/user/login" class="register-link"> Inicia sesión</a></p>
          </div>
        </form>
      </div>
    </div>
  </main>
    <%- include('../partials/footer') %>
    <script>
        window.onload = function () {
          let form = document.querySelector("#registerForm");
          let firstName = document.querySelector("#registerFirstName");
          let lastName = document.querySelector("#registerLastName");
          let email = document.querySelector("#registerEmail");
          let password = document.querySelector("#registerPassword");
          let file = document.querySelector("#registerImage");

          firstName.focus();
          form.addEventListener("submit", function (e) {
          
            let errors = [];
            if (firstName.value == "") {
              errors.push("El nombre es obligatorio");
              firstName.classList.add("is-invalid");
            }
            if (firstName.value.length < 3 && firstName.value.length > 0) {
              errors.push("El nombre debe tener al menos 3 caracteres");
              firstName.classList.add("is-invalid");
            } else {
              firstName.classList.remove("is-invalid");
              firstName.classList.add("is-valid");
              lastName.focus();
            }
            if (lastName.value == "") {
              errors.push("El apellido es obligatorio");
              lastName.classList.add("is-invalid");
            }
            if (lastName.value.length < 1 && lastName.value.length > 0) {
              errors.push("El apellido debe tener al menos 1 caracter");
              lastName.classList.add("is-invalid");
            } else {
              lastName.classList.remove("is-invalid");
              lastName.classList.add("is-valid");
              email.focus();
            }
            if (/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email.value) === false && email.value !== "") {
              errors.push("Tiene que ingresar un email valido");
              email.classList.add("is-invalid");
            }
            if (email.value == "") {
              errors.push("El email es obligatorio");
              email.classList.add("is-invalid");
            } else {
              email.classList.remove("is-invalid");
              email.classList.add("is-valid");
              email.focus();
            }
            if (password.value == "") {
              errors.push("La contraseña es obligatoria");
              password.classList.add("is-invalid");
            }
            if (password.value.length < 8 && password.value.length > 0) {
              errors.push("la contraseña tiene que tener minino 8 caracteres");
              password.classList.add("is-invalid");
            } else {
              password.classList.remove("is-invalid");
              password.classList.add("is-valid");
            }
            let allowedExtensions = /(.jpg|.jpeg|.png|.gif)$/i;
            let filePath = file.value;
            if (filePath && !allowedExtensions.exec(filePath)) {
              errors.push("Por favor usar una extension valida(.jpg, .png, gif)");
              file.classList.add("is-invalid");
            } else {
              file.classList.remove("is-invalid");
              file.classList.add("is-valid");
            }


            if (errors.length > 0) {
              e.preventDefault();
              let errores = document.querySelector(".errores");
              errores.classList.add("alert-warning");
              errores.innerHTML = "";
              for (let i = 0; i < errors.length; i++) {
                let li = document.createElement("li");
                li.innerHTML = errors[i];
                errores.appendChild(li);
              }
            } else {
              alert("Usuario registrado");
            }
          });
        };
    </script> 
</body>
</html>