<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Register'}) %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/button') %>
    <%- include('../partials/toggle') %>
    <main style="margin-top: 0px">
      <div class="conjunto-login">
         <!-- <div class="errores">
          <ul></ul>
        </div> -->
        <form action="/user/register" method="POST" enctype="multipart/form-data" class="reservation" id = "formulario">
          <div class="login-box">
            <h2>Register</h2>
            <div class="col">
              <a href="#" class="fb btn">
                <i class="fa fa-facebook fa-fw"></i> Register with Facebook
              </a>
              <a href="#" class="google btn">
                <i class="fa fa-google fa-fw"></i> Register with Google+
              </a>
            </div>
            <div class="user-box">
              <input type="text" name="firstName" required="" value="<%= locals.oldData ? oldData.firstName : null %>" class="nombre">
                <label>Nombre</label>
                    <% if (locals.errors && errors.firstName) { %>
                    <div class="text-danger" style="color: red; font-size: 18px; margin-top: -25px; margin-bottom: 15px;"><%= errors.firstName.msg %></div>
                    <% } %>
            </div>
            <div class="user-box">
              <input type="text" name="lastName" required="" value="<%= locals.oldData ? oldData.lastName : null %>" class="apellido">
                    <label>Apellido</label>
                    <% if (locals.errors && errors.lastName) { %>
                      <div class="text-danger" style="color: red; font-size: 16px; margin-top: -25px; margin-bottom: 15px;" ><%= errors.lastName.msg %></div>
                      <% } %>
                </div>
                <div class="user-box">
                  <input type="email" name="email" required="" value="<%= locals.oldData ? oldData.email : null %>" class="email">
                  <label>Email</label>
                  <% if (locals.errors && errors.email) { %>
                    <div class="text-danger" style="color: red; font-size: 16px; margin-top: -25px; margin-bottom: 15px;" ><%= errors.email.msg %></div>
                    <% } %>
              </div>
              <div class="user-box">
                <input type="password" name="password" required="" class="Password">
                <label>Contraseña</label>
                <% if (locals.errors && errors.password) { %>
                  <div class="text-danger" style="color: red; font-size: 16px; margin-top: -25px; margin-bottom: 15px;" ><%= errors.password.msg %></div>
                  <% } %>
            </div>
            <div class="user-box">
              <input type="password" name="confirmPassword" required="">
              <label>Confirmar contraseña</label>
              <% if (locals.errors && errors.confirmPassword) { %>
                <div class="text-danger" style="color: red; font-size: 16px; margin-top: -25px; margin-bottom: 15px;" ><%= errors.confirmPassword.msg %></div>
                <% } %>
          </div>
          <div class="user-box">
            <input type="file" name="image" >
            <label>Imagen de perfil</label>
            <% if (locals.errors && errors.image) { %>
              <div class="text-danger" style="color: red; font-size: 16px; margin-top: -25px; margin-bottom: 15px;" ><%= errors.image.msg %></div>
              <% } %>
        </div>
          <div class="checkboxes">
            <div class="underage">
              <label>
                <input type="checkbox" name="legalAge" required>Soy mayor de 18 años
              </label>
            </div class="underage">
            <div>
              <label>
                <input type="checkbox" name="tyc" required>Acepto Términos y Condiciones
              </label>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Register">
          </div>
          <div>
            <p>¿Ya sos cliente?<a href="/user/login" class="register-link"> Inicia sesión</a></p>
          </div>
        </form>
      </div>
    </div>
  </main>
    <%- include('../partials/footer') %>
    <!-- MARCOS BARRA SCROLL 220522 -->
    <%- include('../partials/scrollbar') %>
</body>
</html>