<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Register'}) %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/button') %>
    <%- include('../partials/toggle') %>
    <main style="margin-top: 0px">
      <div class="conjunto-login">
        <form action="/user/register" method="POST">
          <div class="login-box">
            <h2>Register</h2>
            <div class="col">
              <a href="#" class="fb btn">
                <i class="fa fa-facebook fa-fw"></i> Login with Facebook
              </a>
              <a href="#" class="google btn">
                <i class="fa fa-google fa-fw"></i> Login with Google+
              </a>
            </div>
            <div class="user-box">
              <input type="text" name="firstName" required="" value="<%= locals.oldData ? oldData.firstName : null %>">
                <label>Nombre</label>
                    <% if (locals.errors && errors.firstName) { %>
                    <div class="text-danger" style="color: red; font-size: 18px; margin-top: -25px; margin-bottom: 15px;"><%= errors.firstName.msg %></div>
                    <% } %>
            </div>
            <div class="user-box">
                    <input type="password" name="password" required="">
                    <label>Password</label>
                    <% if (locals.errors && errors.password) { %>
                      <div class="text-danger" style="color: red; font-size: 16px; margin-top: -25px; margin-bottom: 15px;" ><%= errors.password.msg %></div>
                      <% } %>
                </div>
                <div class="button">
                  <input type="submit" value="Register">
                </div>
                    <div>
                      <p>¿Ya sos cliente?<a href="/user/login" class="register-link"> Inicia sesión</a></p>
                  </div>
            </form>
        </div>
      </div>
  </main>
    <%- include('../partials/footer') %>
    <!-- MARCOS BARRA SCROLL 220522 -->
    <%- include('../partials/scrollbar') %>
</body>
</html>